/vendor
.env
.env.*
.env.local
.env.*.local
/storage/*.key
/public/storage
/node_modules
npm-debug.log
yarn-error.log
/public/hot
/public/*.ico
/public/*.png
/public/*.jpg
/public/*.gif
/public/*.svg
/public/*.xml
/public/robots.txt
/public/sitemap.xml
